[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IBrokers"]
	path = IBrokers
	url = https://github.com/joshuaulrich/ibrokers
[submodule "microbenchmark"]
	path = microbenchmark
	url = https://github.com/joshuaulrich/microbenchmark
[submodule "pack"]
	path = pack
	url = https://github.com/joshuaulrich/pack
[submodule "quantmod"]
	path = quantmod
	url = https://github.com/joshuaulrich/quantmod
[submodule "TTR"]
	path = TTR
	url = https://github.com/joshuaulrich/ttr
[submodule "xts"]
	path = xts
	url = https://github.com/joshuaulrich/xts
